<ion-view view-title="Settings">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableErrorDetection" ng-click="toggleErrorDetection()">
      Enable error auto-detection
    </ion-toggle>
    <ion-toggle  ng-model="settings.enableNoteAutoErasing" ng-click="toggleNoteAutoErasing()">
      Enable note auto-erasing
    </ion-toggle>
    <ion-toggle  ng-model="settings.enableNumberHighlighting" ng-click="toggleNumberHighlighting()">
      Enable highlighting on selected number
    </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>
