<div ng-controller="ScoreTabCtrl" class="hs-tab-container">
  <ul class="hs-tab">
    <li><a id="hs-tab-easy" class="hs-tablinks" ng-click="openScoreTab('easy')">Easy</a></li>
    <li><a id="hs-tab-medium" class="hs-tablinks" ng-click="openScoreTab('medium')">Medium</a></li>
    <li><a id="hs-tab-hard" class="hs-tablinks" ng-click="openScoreTab('hard')">Hard</a></li>
    <li><a id="hs-tab-extreme" class="hs-tablinks" ng-click="openScoreTab('extreme')">Extreme</a></li>
  </ul>
  <div id="hs-easy" class="hs-tabcontent">
    <div class="highscores" ng-repeat="x in easyHighScores track by $index">
      <div class="hs-data">{{$index + 1}}</div>
      <div class="hs-data">{{x[1]}}</div>
      <div class="hs-data hs-data-right">{{x[2]}}</div>
    </div>
  </div>
  <div id="hs-medium" class="hs-tabcontent">
    <div class="highscores" ng-repeat="x in mediumHighScores track by $index">
      <div class="hs-data">{{$index + 1}}</div>
      <div class="hs-data">{{x[1]}}</div>
      <div class="hs-data hs-data-right">{{x[2]}}</div>
    </div>
  </div>
  <div id="hs-hard" class="hs-tabcontent">
    <div class="highscores" ng-repeat="x in hardHighScores track by $index">
      <div class="hs-data">{{$index + 1}}</div>
      <div class="hs-data">{{x[1]}}</div>
      <div class="hs-data hs-data-right">{{x[2]}}</div>
    </div>
  </div>
  <div id="hs-extreme" class="hs-tabcontent">
    <div class="highscores" ng-repeat="x in extremeHighScores track by $index">
      <div class="hs-data">{{$index + 1}}</div>
      <div class="hs-data">{{x[1]}}</div>
      <div class="hs-data hs-data-right">{{x[2]}}</div>
    </div>
  </div>
</div>
