<ion-view view-title="Choose a game mode">
  <ion-content class="padding background">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap"  href="#/tab/play/menu/difficulty"  ng-click="playSolo()">
        <h2>Play solo</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap"  href="#/tab/play/menu/difficulty"  ng-click="play1v1()">
        <h2>Play 1v1</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap"  href="#/tab/play/menu/difficulty">
        <h2>Play coop</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
